<!-- START EDIT -->

html, body {padding: 0; margin: 0; }
    #map { width: 600px; height:700px; background: black; }
           
                

#mapheader {position: absolute; top: 85; left: 50;}

#menu{
 	width: 520px; height:38px;
	margin: 12px 0 0 10px;
	padding: 0 0 0 0;
	
}

#title {
		padding: 0 10px 50px 10px;
		color: fff;
		position: absolute; 
		top: 10; 
		left: 60;
		width: 500px;
		font-family: helvetica, arial, sans-serif;
		background: rgba(0,0,0,0.50);
		-moz-border-radius: 5px;
		border-radius: 5px;
}

#title h1 {font-weight: bold; font-size: 19px; margin-bottom: 2px;}
#title p {color: #ccc; font-weight: bold; font-size: 11px; margin-top: 2px;}

#menu a.selected { 
     color: #000;
     background: #c3d9ff; /* Old browsers */
     background: -moz-linear-gradient(top, #c3d9ff 0%, #b1c8ef 41%, #98b0d9 100%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3d9ff), color-stop(41%,#b1c8ef), color-stop(100%,#98b0d9)); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top, #c3d9ff 0%,#b1c8ef 41%,#98b0d9 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top, #c3d9ff 0%,#b1c8ef 41%,#98b0d9 100%); /* Opera 11.10+ */
     background: -ms-linear-gradient(top, #c3d9ff 0%,#b1c8ef 41%,#98b0d9 100%); /* IE10+ */
     background: linear-gradient(to bottom, #c3d9ff 0%,#b1c8ef 41%,#98b0d9 100%); /* W3C */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 ); /* IE6-9 */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

	-moz-box-shadow: inset 0 0 1px 1px #000;
	-webkit-box-shadow: inset 0 0 1px 1px #000;
	box-shadow: inset 0 0 1px 1px #000;
	-moz-border-radius: 2px;
	border-radius: 2px;
}



.menubuttons {
	list-style: none;  
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 1px 1px #9c9c9c;
	-webkit-box-shadow: 0 0 1px 1px #9c9c9c;
	box-shadow: 0 0 1px 1px #9c9c9c;
	
}


.menubuttons a{
	float: left;
	height: 25px;
	padding: 12px 30px 0  30px;
	color: #444;
	text-transform: uppercase;
	font: bold 12px Arial, Helvetica;
	text-decoration: none;
	/* text-shadow: 0 1px 0 #000; */
	border-right: 1px solid #fff;
	border-left: 1px solid #777;
}

a:active {
	color: #3F52A6;
}



#menu a.first, #submenu a.first {border-left: 0px solid #fff;}
#menu a.last, #submenu a.last {border-right: 0px solid #fff;}



/* Clear floated elements */
#menu:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu { zoom: 1; } /* IE6 */

/* checkboxes */
div#show {
	font-weight: bold;
    padding:5px 0 0 10px;
    background:#494949;
    position: absolute; top: 123; left: 72; width: 200px; height:26px;
	margin: 12px 0 0 0px;
	-moz-box-shadow: inset 0px 0px 5px #000;
	-webkit-box-shadow: inset 0px 0px 5px #000;
	box-shadow: inset 0px 0px 5px #000;
}



input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
    font-family:Helvetica, Arial, sans-serif;
    font-size:12px;
    padding-left: 10px;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(check_radio_sheet.png) -19px top no-repeat;
}

/* END CHECKBOXES */
           
#legend { position: absolute; left: 333px; top: 480px; width: 235px; padding: 0px;  
			background: -webkit-linear-gradient(#F9F9F9, #E1E1E1); 
			background: -moz-linear-gradient(#F9F9F9, #E1E1E1);
			background: -o-linear-gradient(#F9F9F9, #E1E1E1);
            background: linear-gradient(#F9F9F9,#E1E1E1); 
			z-index: 99; font-family: Arial, Helvetica, sans-serif;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			padding: 5px 0 0 10px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow:    inset 0 0 5px #000000;
			-webkit-box-shadow: inset 0 0 5px #000000;
			box-shadow:         inset 0 0 5px #000000;}
    #legend .title, 
    #legend .row { position: relative; float: left; width: 230px; background: none; padding: 5; margin: 0; font-size: 12px; }
    #legend .title {font-weight: bold; font-size: 13px;}
    #legend .row span { float: left; padding: 0; margin: 0; }
    
    #legend .row span.box { width: 20px; height: 20px; background: black; margin: 2px; border: 1px solid #BBB;}
    #legend .row span.line { width: 20px; height: 6px; background: black; margin: 2px; margin-top: 11px; border: 1px solid #BBB;}
    #legend .row span.circle { width: 20px; height: 20px; background: black; margin: 2px; border: 1px solid #BBB; border-radius: 50%;}

	
/*SYLES FOR THE CUSTOM INFOWINDOW*/

.map-popup-header  {
  position:relative;
  width:175px;
  height:auto;
  max-height:200px;
  overflow:hidden;
  padding:17px 19px 17px 19px;
  margin-left: -1px;
  /* background:url('headers.png') no-repeat 0 -20px; */
  color: #fff;
  font-size: 22px;
  font-weight: bold;
   background: #2E3F8A; /* Old browsers */
   background-image: linear-gradient(bottom, #2E3F8A 41%, #4A60C3 91%);
   background-image: -o-linear-gradient(bottom, #2E3F8A 41%, #4A60C3 91%);
   background-image: -moz-linear-gradient(bottom, #2E3F8A 41%, #4A60C3 91%);
   background-image: -webkit-linear-gradient(bottom, #2E3F8A 41%, #4A60C3 91%);
   background-image: -ms-linear-gradient(bottom, #2E3F8A 41%, #4A60C3 91%);

   background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.41, #2E3F8A),
	color-stop(0.91, #4A60C3)
);
     -moz-border-radius-topright: 4px;
     border-top-right-radius: 4px;
     -moz-border-radius-toplleft: 4px;
     border-top-left-radius: 4px;

}

div.cartodb-popup {
background: none;
width: 222px;
padding: 0;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
-moz-border-radius-toplleft: 4px;
border-top-left-radius: 4px;
}

div.cartodb-popup a.cartodb-popup-close-button{
top: -12px;
right: -13px;
}

div.cartodb-popup div.cartodb-popup-content-wrapper{
padding: 0 0 0 5px;
width: 217px;
max-width: none;
max-height: 350px;
overflow-y: scroll; 
overflow-x: hidden;/* hide vertical scrollbar in Firefox */
-webkit-overflow-scrolling:touch;
position: relative;/* fixes scrolling in IE */
background-color: none;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
-moz-border-radius-toplleft: 12px;
border-top-left-radius: 12px;
}

div.cartodb-popup div.cartodb-popup-cont{
width: 210px;
max-width: none;
max-height: none;

}

div.cartodb-popup div.cartodb-popup-cont h4{
font-family: Times New Roman, Times, serif;
font-size: 12px;
padding: 5px 0px 5px 15px;
}

div.cartodb-popup div.cartodb-popup-cont h3{
font-family: Helvetica, Arial, Sans-serif;
font-size: 12px;
padding: 5px 0px 0px 15px;
}

div.cartodb-popup div.cartodb-popup-cont p{
font-family: Helvetica, Arial, Sans-serif;
font-size: 12px;
padding: 5px 0px 0px 15px;

}


div.cartodb_infobox {
bottom:35px!important;
font-family: "Helvetica",Arial;
}



#legend .row span.value { line-height: 18px; margin: 5px; max-width: 192px;}

/* Custom scrollbars for webkit - forces scrollbar on Mountain Lion*/
::-webkit-scrollbar {
    width: 6px;
    height: 7px;
   -webkit-appearance: none;
   
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    -webkit-border-radius: 8px;
    border-radius: 12px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #565559; 
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4); 
}

